apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: echoserver-application
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/dnum-mi/dso-formation/tree/etiquet-patch-1/tutoriels/gitops.git
    targetRevision: HEAD
    path: dev
  destination: 
    server: https://kubernetes.default.svc
    namespace: echoserver-ns

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true

 